html {
  font-family
}

.btn {
  background-color: limegreen;
  border-color: limegreen;
}

.btn-ghost {
  background-color: transparent;
}

.btn-light {
  background-color: limegreen;
  border-color: limegreen;
}
